<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/jquery.mloading.css">
    <style>
        #content .list-group{
            width: 100%;
        }
        #content .list-group li .time{
            float: right;
        }
    </style>
</head>

<body>
    <% include /homepartial/nav.ejs %>
    <div class="wrap">
        <div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                信息必须经过审核
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row" style="width: 90%;margin: 0 auto;" id="content">
            <ul class="list-group list-group-flush">
                
            </ul>
        </div>
        <div style="width: 90%;margin: 0 auto;text-align: center;margin-top: 1rem;">
            <button type="button" class="btn btn-primary btn-sm" id="loading">加载更多</button>
        </div>
    </div>
    <script src="/public/js/jquery-3.1.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/moment.min.js"></script>
    <script src="/public/js/jquery.mloading.js"></script>
    <script>
        $('#navbarColor .article').addClass('active');
        let num = 0;
        function getQueryString(name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
            return unescape(r[2]);
            }
            return null;
        }
        initView();

        function initView() {
            getData();
        }

        $('#loading').click(function () {
            getData();
        });

        function getData() {
            $('.wrap').mLoading({
                text: "加载中...",
            });
            let search = getQueryString('search');
            if (search) {
                search = '&search=' + search;
            }else{
                search = '';
            }
            $.ajax({
                url: `/article/list/data?limit=10&offset=${num}${search}`,
                type: 'get',
                success(data) {
                    $('.wrap').mLoading('hide');
                    fullView(data.data);
                    num = num + 10;
                    if (data.data.length === 0 || data.data.length < 10) {
                        $('#loading').text('无更多内容');
                        setTimeout(function () {
                            $('#loading').hide();
                        }, 1500)
                        return;
                    }

                },
                error(err) {
                    $('.wrap').mLoading('hide');
                    alert(err);
                }
            });
        }

        function fullView(arr) {
            let html = ``;
            arr.map(function (ele) {
                let time = moment(ele.time).format('YYYY-MM-DD');
                html += `<li class="list-group-item">
                    <a href="/article/info?id=${ele.id}" title="${ele.title}">${ele.title}</a>
                    <p></p>
                    <span class="badge badge-primary badge-pill time">${time}</span>
                </li>`
            })

            $('#content .list-group').append(html);
        }
    </script>
</body>

</html>