<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">首页</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor"
    aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">首页</a>
      </li>
      <li class="nav-item article">
        <a class="nav-link" href="/article/list">文章</a>
      </li>
    </ul>
    <form class="form-inline" action="/article/list" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="查询文章" aria-label="Search" name="search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">查询</button>
    </form>
  </div>
</nav>
<script>
  window.addEventListener('load', () => {
    quicklink.listen();
  });
</script>