<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>晋城职业技术学院-个人中心</title>
    <link href="/public/info/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/info/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/public/info/css/animate.css" rel="stylesheet">
    <link href="/public/info/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="/public/info/js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <% include /partial/nav.ejs %>
        <script>
            var activity = "temperature";
            $('#side-menu .' + activity).addClass('active');
            $($('#side-menu .' + activity).parent().parent()[0]).addClass('active');
        </script>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <% include /partial/header.ejs %>
            </div>
            <style>
                .btn-primary2 {
                    background-color: #177ce4;
                    height: 30px;
                    width: 100px;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    display: block;
                    font-size: 15px;
                }
            </style>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>温度</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0;i < data.length; i++){%>
                                <tr>
                                    <td><%= data[i].time %></td>
                                    <td><%= data[i].record %></td>
                                </tr>
                                <%}%>
                        </tbody>
  
                    </table>
                </div>
            </div>
        </div>
        <% include /partial/footer.ejs %>
                    </div>
                </div>

                <script src="/public/info/js/popper.min.js"></script>
                <script src="/public/info/js/bootstrap.min.js"></script>
                <script src="/public/info/js/plugins/metisMenu/jquery.metisMenu.js"></script>
                <script src="/public/info/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
                <script src="/public/info/js/inspinia.js"></script>
                <script src="/public/info/js/plugins/pace/pace.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $.extend(true, $.fn.dataTable.defaults, {
                            "language": {
                                "url": "/public/language/Chinese.txt"
                            },
                            "dom": "l<'#toolbar'>frtip"
                        });
                        $('#example').DataTable();
                    });
                </script>
</body>

</html>