<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- <a href="#"></a><img alt="image" class="rounded-circle" style="width: 48px;height: 48px;" src="/Public/user.jpg"></a> -->
                    <a href="/admin/index"></a><img alt="image" class="rounded-circle" style="width: 48px;height: 48px;"
                        src="/public/favicon.ico"></a>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">508<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="/admin/loginout"> 退出</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <a href="/admin/index"><img src="/public/favicon.ico" width="35" height="35"></a>
                </div>
            </li>
            <li class="home">
                <a href="/admin/index"><i class="fa fa-bar-chart"></i> <span class="nav-label">首页</span></a>
            </li>
            <li class="search-teacher">
                <a href="/admin/user/teacher"><i class="fa fa-search-minus"></i> <span class="nav-label">教师温度</span></a>
            </li>
            <li class="user">
                <a href="/admin/user/index"><i class="fa fa-eyedropper"></i> <span class="nav-label">修改密码</span></a>
            </li>
        </ul>
    </div>
</nav>