<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- <a href="#"></a><img alt="image" class="rounded-circle" style="width: 48px;height: 48px;" src="/Public/user.jpg"></a> -->
                    <a href="/teacher/index"></a><img alt="image" class="rounded-circle" style="width: 48px;height: 48px;" src="/public/favicon.ico"></a>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">508<b class="caret"></b></span>
                    </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="/teacher/loginout"> 退出</a></li>
                        </ul>
                </div>
                <div class="logo-element">
                    <a href="/teacher/index"><img src="/public/favicon.ico" width="35" height="35"></a>
                </div>
            </li>
            <li class="home">
                <a href="/teacher/index"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
            </li>
            <li class="userinfo">
                <a href="/teacher/user"><i class="fa fa-user"></i> <span class="nav-label">个人信息</span></a>
            </li>
            <li class="temperature">
                <a href="/teacher/temperature"><i class="fa fa-history"></i> <span class="nav-label">体温记录</span></a>
            </li>
            <li class="mirror">
                <a href="/teacher/mirror"><i class="fa fa-book"></i> <span class="nav-label">学习资料</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-history"></i> <span class="nav-label">学生信息</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="students"><a href="/teacher/students">学生列表</a></li>
                    <li class="studentadd"><a href="/teacher/students/index">添加学生</a></li>
                 </ul>
            </li>
            <li class="article">
                <a href="/teacher/students/article"><i class="fa fa-list"></i> <span class="nav-label">文章列表</span></a>
            </li>
            <li class="password">
                <a href="/teacher/password"><i class="fa fa-eyedropper"></i> <span class="nav-label">修改密码</span></a>
            </li>

        </ul>
    </div>
</nav>