<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>晋城职业技术学院-管理中心</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/kalendae.css">
    <link rel="stylesheet" href="/public/css/plugins/dataTables/datatables.min.css">
    <link rel="stylesheet" href="/public/css/plugins/dataTables/buttons.dataTables.min.css">
    <script src="/public/js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <% include /adminpartial/nav.ejs %>
        <script>
            var activity = "clasdep";
            $('#side-menu .' + activity).addClass('active');
            $($('#side-menu .' + activity).parent().parent()[0]).addClass('active');
        </script>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <% include /adminpartial/header.ejs %>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row" id="content">
                </div>
            </div>
            <% include /adminpartial/footer.ejs %>
        </div>
    </div>


    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/public/js/inspinia.js"></script>
    <script src="/public/js/plugins/pace/pace.min.js"></script>
    <script>
        let allData = {};
        $.ajax({
            url: "/clasdepartment",
            type: "GET",
            success: function (data) {
                allData = data.data;
                fullView(data.data);
            },

            error: function (err) {
                console.error(err);
            }
        });

        function fullView(data) {
            let html = ''
            Object.keys(data).map(function (e1, i1) {
                let html_2 = '';
                data[e1].map(function (e2, i2) {
                    html_2 += `
                        <input type="text" class="form-control" value="${e2}">
                       `
                });
                console.log(html_2)
                html += `<div class="col-lg-8"><p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#${i1}" role="button"
                                aria-expanded="false" aria-controls="${i1}">${e1}</a></p>
                                <div class="collapse" id="${i1}">
                                        <div class="card card-body">
                        ${html_2}
                    </div>
                    </div>
                    </div>`
            });
            $('#content').html(html);
        }
    </script>
</body>

</html>