<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>晋城职业技术学院</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/plugins/dataTables/datatables.min.css">
    <script src="/public/js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <% include /adminpartial/nav.ejs %>
        <script>
            var activity = "clas";
            $('#side-menu .' + activity).addClass('active');
            $($('#side-menu .' + activity).parent().parent()[0]).addClass('active');
        </script>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <% include /adminpartial/header.ejs %>
            </div>
            <style>
                .btn-primary2 {
                    background-color: #177ce4;
                    height: 30px;
                    width: 100px;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    display: block;
                    font-size: 15px;
                }
            </style>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row" style="margin-left: 2px; margin-bottom: 10px;">
                    <div class="clo-lg-6">
                        <select class="custom-select" id="departmentsSelect" style="width: 100%;">

                        </select>
                    </div>
                    <div class="clo-lg-8" style="margin-left: 10px;">
                        <select class="custom-select" id="clasSelect" style="width: 100%;">
                            <option value="---">---</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary2" id="dcsubmit" style="height: 100%;">查询</button>
                    </div>
                </div>
                <script>
                    $.ajax({
                        url: `/clasdepartment`,
                        type: 'get',
                        success(data) {
                            let obj = data.data;
                            let departments = Object.keys(obj);
                            let dep_html = '<option value="---">---</option>';
                            departments.map(function (e) {
                                dep_html += `<option value="${e}">${e}</option>`;
                            });
                            $('#departmentsSelect').html(dep_html);
                            selectEvent(obj);
                        },
                        error(err) {
                            alert(err);
                        }
                    });

                    function selectEvent(arr) {
                        $("#departmentsSelect").change(function () {
                            let dep = $('#departmentsSelect').find("option:selected").val();
                            let clas = arr[dep];
                            $('#clasSelect').html('');
                            var clas_html = ``;
                            clas.map(function (e) {
                                clas_html += `<option value="${e}">${e}</option>`;
                            });
                            $('#clasSelect').append(clas_html);
                        })
                    }

                </script>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>所在系</th>
                                    <th>班级</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0;i < data.length; i++){%>
                                <%for(var j =0;j < data[i].clas.length; j++){%>
                                <tr>
                                    <td><%= data[i].dep %></td>
                                    <td><%= data[i].clas[j] %></td>
                                    <td><a
                                            href="/admin/clasdata?clas=<%= data[i].clas[j] %>&department=<%= data[i].dep %>">查看</a>
                                    </td>
                                </tr>
                                <%}%>
                                <%}%>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <% include /adminpartial/footer.ejs %>
        </div>
    </div>

    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/public/js/inspinia.js"></script>
    <script src="/public/js/plugins/pace/pace.min.js"></script>
    <script src="/public/js/plugins/dataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            //配置DataTables默认参数
            $.extend(true, $.fn.dataTable.defaults, {
                "language": {
                    "url": "/public/language/Chinese.txt"
                },
                "dom": "l<'#toolbar'>frtip"
            });
            $('#example').DataTable();
        });
        $("#dcsubmit").click(function () {
            let dep = $('#departmentsSelect').find("option:selected").val();
            let clas = $('#clasSelect').find("option:selected").val();
            if (dep == '---' || clas == '---') {
                alert('请选择系别与班级名称');
                return;
            }
            window.open('/admin/clasdata?clas=' + clas + '&department=' + dep);
        })
    </script>
</body>

</html>