<div class="footer">
    <div class="pull-right">
        <a href="http://lab508.gitee.io/">508工作室</a>
    </div>
    <div>
        <strong>Copyright</strong> <a href="http://lab508.gitee.io/">508工作室</a> &copy; 2020
    </div>
</div>
<script src="/public/js/jquery.mloading.js"></script>