<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- <a href="#"></a><img alt="image" class="rounded-circle" style="width: 48px;height: 48px;" src="/Public/user.jpg"></a> -->
                    <a href="/info/index"></a><img alt="image" class="rounded-circle" style="width: 48px;height: 48px;" src="/public/favicon.ico"></a>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">508<b class="caret"></b></span>
                    </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="/loginout"> 退出</a></li>
                        </ul>
                </div>
                <div class="logo-element">
                    <a href="/info/index"><img src="/public/favicon.ico" width="35" height="35"></a>
                </div>
            </li>
            <li class="home">
                <a href="/info/index"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
            </li>
            <li class="userinfo">
                <a href="/info/user"><i class="fa fa-user"></i> <span class="nav-label">个人信息</span></a>
            </li>
            <li class="mirror">
                <a href="/info/mirror"><i class="fa fa-book"></i> <span class="nav-label">学习资料</span></a>
            </li>
            <li class="temperature">
                <a href="/info/temperature"><i class="fa fa-history"></i> <span class="nav-label">体温记录</span></a>
            </li>
            <li class="password">
                <a href="/info/password"><i class="fa fa-eyedropper"></i> <span class="nav-label">修改密码</span></a>
            </li>
        </ul>
    </div>
</nav>

